th, td {
    border: 1px solid black;
    border-spacing: 10px;
  }
  
  table {
    width: 100%;
  }
  .container{
    border: 1px solid black;
    overflow: scroll;
    height: 500px;
    width: 800px;
   }

   #bookstab td, #bookstab th{
       padding: 8px;
   }

   .thead-dark{
       background-color: #ffd9b3;
   }

   .row{
     color: black;
     font-size: 18px;
   }

   .thead-dark th{
       font-size: 20px;
       font-weight: bold;
   }

   .btn-reserve{
    padding:8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: lightgreen;
   }

   @media screen and (max-width: 780px){
    .container{
      border: 1px solid black;
      overflow: scroll;
      height: 480px;
      width: 350px;
     }
   }